<input type="search" name="search" [(ngModel)]="searchTerm" (input)="search()">

@if (isOpen()) {
<dialog open class="search-result">
  <h2>Categories</h2>
  <ul>
    @for (category of result.categories; track category.nr) {
      <li><a [routerLink]="'/category/' + category.slug" (click)="close()">{{ category.name }}</a></li>
    }
  </ul>
  <h2>Topics</h2>
  <ul>
    @for (topic of result.topics; track topic.nr) {
      <li><a [routerLink]="'/topic/' + topic.slug" (click)="close()">{{ topic.title }}</a></li>
    }
  </ul>
</dialog>
}
